@use "reset";
@use "variables" as *;

// BASE
:root {
  --main-color: #{$main-color};
  --text-color: #{$text-color};
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  line-height: 1;
  letter-spacing: 0;
  -webkit-font-smoothing: antialiased;
}

img {
  width: 100%;
  max-width: 100%;
}

@media screen and (min-width: #{$BREAK-POINT + px}) {
  .sp-only {
    display: none !important;
  }
}

@media screen and (max-width: #{$BREAK-POINT + px}) {
  .pc-only {
    display: none !important;
  }
}
