// COLOR
$text-color: #444;
$main-color: #fff;

// CONTENT SIZE
$default-width: 1080;
$wide-width: 1200;
$narrow-width: 960;

// BREAK POINT
$BREAK-POINT: 766;

// TARGET DEVICE SIZE
$PC: 1920;
$SP: 375;
