.primary {
}

.secondary {
}

.header {
  padding: 0.7rem 1.4rem;
  border: 1px solid var(--text-color);
  border-radius: 5px;
  color: var(--text-color);
  font-size: 1.6rem;
}

.tagEdit {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 6rem;
  border-radius: 999px;
  color: var(--text-color);
  font-size: 2rem;
}
